{% extends "base.html" %}

{% block content %}


<h1>Zamówienie przygotowane do wysłania.</h1>
<p>Zamówienie dla {{ order.place_of_delivery.name }}</p>


{% for clothe in clothes %}
  <div class="jumbotron">
    <p>{{ clothe.kind.name }} - {{ clothe.kind.description }}</p>
    <p>{{ clothe.employee.name }} {{ clothe.employee.surname }}</p>
    <a class="btn btn-danger" href="{% url 'clothes:delete' clothe.id %}" role="button">Usuń</a>
  </div>
{% endfor %}

<hr>

<a class="btn btn-success btn-lg" href="{% url 'orders:send' order.id %}" role="button">Wyślij zamówinie</a>


{% endblock content %}
