{% extends "base.html" %}

{% block content %}


<h1>Pracownik</h1>

<p>{{ pracownik.imie }} {{ pracownik.nazwisko }}</p>
<p>{{ pracownik.etat.stanowisko }}</p>
<p>{{ pracownik.etat.miejsce_pracy }}</p>

<h3>Nowe ubrania</h3>
{% if nowe_ubrania %}
  {% for ubranie in nowe_ubrania %}
    <p>{{ ubranie.nazwa }}</p>
  {% endfor %}
{% else %}
  <p>Brak nowych ubrań.</p>
{% endif %}



<h3>Ubrania zamówione.</h3>

{% for rodzaj in rodzaje_ubran.all %}

  <div class="jumbotron">

    <h4>{{ rodzaj.nazwa }}</h4>

    {% for ubranie in pracownik.ubrania.all %}

      {% if ubranie.rodzaj ==  rodzaj %}
        <p>zamówione {{ ubranie.zamowione|date:"d - m - Y" }}<p>
      {% endif %}

    {% endfor %}

  </div>

{% endfor %}

{% endblock content %}
