{% extends "base.html" %}

{% block content %}


<h1>Pracownik</h1>

<p>{{ pracownik.imie }} {{ pracownik.nazwisko }}</p>
<p>{{ pracownik.etat.stanowisko }}</p>
<p>{{ pracownik.etat.miejsce_pracy }}</p>

<h3>Ubrania</h3>
<hr>

{% for rodzaj in rodzaje_ubran.all %}

  <h4>{{ rodzaj.nazwa }}</h4>

  {% for ubranie in pracownik.ubrania.all %}

    {% if ubranie.rodzaj ==  rodzaj %}
      <p>zamówione {{ ubranie.zamowione|date:"d - m - Y" }}<p>

    {% endif %}

  {% endfor %}

{% endfor %}

{% endblock content %}
