{% extends "base.html" %}

{% block content %}

<h1>Pracownik</h1>

<p>{{ employee.name }} {{ employee.surname }}</p>
<p>{{ employee.job.position }}</p>
<p>{{ employee.job.work_place }}</p>

<h2>Ubrania</h2>

<h3>Niezamawiane nigdy wcześniej.</h3>
{% if never_ordered_but_available %}
  {% for kind in never_ordered_but_available %}
    <div class="jumbotron">
      <p>{{ kind.name }}</p>
      <a class="btn btn-primary" href="{% url 'orders:redirect' kind.pk employee.pk %}" role="button">Zamów</a>
    </div>
  {% endfor %}
{% else %}
  <p>Nie matakich ubrań, które można zamówić, a nie zamawiano nigdy wcześniej.</p>
{% endif %}

<h3>Można zamówić znowu.</h3>
{% if kinds_can_be_ordered_again %}
  {% for kind in kinds_can_be_ordered_again %}
    <div class="jumbotron">
      <p>{{ kind.name }}</p>
      <a class="btn btn-primary" href="{% url 'orders:redirect' kind.pk employee.pk %}" role="button">Zamów</a>

      <p>Historia zamówień tego ubrania</p>
      {% for clothe in can_be_ordered_again %}
        {% if clothe.kind ==  kind %}
          <p>zamówione {{ clothe.ordered|date:"d - m - Y" }}<p>
        {% endif %}
      {% endfor %}

    </div>
  {% endfor %}

{% else %}
  <p>Nie ma takich ubrań, które można zamówić kolejny raz.</p>
  <p>Możliwe, że termin wymiany danego ubrania jeszcze nie nadszedł.</p>
{% endif %}

<h3>Ubrania przygotowane do zamówienia.</h3>
{% if prepared_to_order %}
  {% for clothe in prepared_to_order %}
    <div class="jumbotron">
      <p>{{ clothe.kind.name }}</p>
    </div>
  {% endfor %}
{% else %}
  <p>Nie ma takich ubrań, których zamówienie jest przygotowane do wysłania.</p>
{% endif %}

<h3>Ubrania posiadane, których nie można zamówić znowu.</h3>
{% if can_not_be_ordered_again %}
  {% for kind in get_kinds_can_not_be_ordered_again %}
    <div class="jumbotron">
      <p>{{ kind.name }}</p>
      <p>Historia zamówień tego ubrania</p>
      {% for clothe in can_not_be_ordered_again %}
        {% if clothe.kind ==  kind %}
          <p>zamówione {{ clothe.ordered|date:"d - m - Y" }}<p>
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
{% else %}
  <p>Nie ma takich ubrań, które były zamawiane w przeszłości i nie mogą być zamówione znowu.</p>
{% endif %}





<!--
{% for kind in kinds_of_available_clothes.all %}

  <div class="jumbotron">

    <h4>{{ kind.name }}</h4>

    {% if kind.name in names_of_kinds_of_clothes_ordered %}

      {% for clothe in employee.clothes.all %}

        {% if clothe.kind ==  kind %}
          {% for f in first_clothes %}
            {% if f == clothe %}
              {% if f.prepared_to_order %}
                <p>W trakcie składania zamówienia</p>

              {% else %}

                {% if f.can_be_ordered_again %}
                  <a class="btn btn-success" href="{% url 'orders:redirect' kind.pk employee.pk %}" role="button">Zamów</a>
                {% else %}
                  <p>Zamówić można {{ f.time_to_order_again|date:"d - m - Y" }}</p>
                {% endif %}



              {% endif %}
            {% endif %}
          {% endfor %}

          <p>zamówione {{ clothe.ordered|date:"d - m - Y" }}<p>
        {% endif %}

      {% endfor %}

    {% else %}
      <p>Niezamawiane nigdy</p>
      <a class="btn btn-primary" href="{% url 'orders:redirect' kind.pk employee.pk %}" role="button">Zamów</a>
    {% endif %}

  </div>

{% endfor %}
-->
{% endblock content %}
