{% extends "base.html" %}

{% block content %}


<h1>Supervisor</h1>
<p>Zamówienie</p>
<p>Zamawiający: {{ order.manager }}</p>
<p>Data przysłania zamówienie: {{ order.date_of_sending_to_supervisor|date:"d - m - Y" }}</p>
{% for clothe in order.clothes_ordered.all %}
  <div class="shadow p-3 mb-5 bg-light rounded">
    <p>{{ clothe.kind.name }}</p>
    <p>{{ clothe.employee }}</p>
    {% for c in clothe.employee.clothes.all %}
      {% if c.kind == clothe.kind %}
        <h3>{{ c.kind.name }}</h3>
        {% if c.ordered %}
          <p>{{ c.ordered|date:"d - m - Y" }}</p> }
        {% else %}
          <p>Zamawiane pierwszy raz.</p>
        {% endif %}
        <p>{{ c.prepared_to_order|date:"d - m - Y" }}</p>
        <a class="btn btn-danger" href="#" role="button">Usuń z zamówienia</a>

      {% endif %}
    {% endfor %}
  </div>
{% endfor %}
<h3>Wyślij zamówienie do producenta.</h3>
<a class="btn btn-success btn-lg" href="#" role="button">Wyślij</a>





{% endblock content %}
